<style>
    .ad_mode,.ad_position_label{
        display: inline-block;
        float: left;
        margin-right: 15px;
    }
    label{
        line-height: 31px;
        font-weight:normal;
    }
    .profile-avatar-container {
        position:relative;
        width:150px;
    }
    .profile-avatar-container .profile-user-img{
        width:150px;
        height:150px;
    }
    .profile-avatar-container .profile-avatar-text {
        display:none;
    }
    .profile-avatar-container:hover .profile-avatar-text {
        display:block;
        position:absolute;
        height:150px;
        width:150px;
        background:#444;
        opacity: .6;
        color: #fff;
        top:0;
        left:0;
        line-height: 150px;
        text-align: center;
    }
    .profile-avatar-container button{
        position:absolute;
        top:0;left:0;width:100px;height:100px;opacity: 0;
    }
</style>

<script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
<link href="__CDN__/assets/libs/bootstrap-daterangepicker/daterangepicker.scss" rel="stylesheet">
<script src="__CDN__/assets/libs/moment/moment.js"></script>
<script src="__CDN__/assets/libs/bootstrap-daterangepicker/daterangepicker.js"></script>

<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-2">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-10" style="margin-top: 15px">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h3 class="page-header">
                        {:__('Small program production')}
                    </h3>
                    <form id="ad_support_form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('api/Order/add')}">
                        {:token()}
                        <input type="hidden" name="ad_type" value="小程序制作">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2" for="ad_name" style="text-align: right;" >小程序名称</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="ad_name" name="ad_name" style="background: lightgray" data-rule="required">
                                </div>
                                <span class="col-md-6"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2" for="ad_business" style="text-align: right;">投放行业</label>
                                <div class="col-md-3">
                                    <select class="form-control" id="ad_business" name="ad_business" data-rule="required" style="width: 150px">
                                        <option value="食品">食品</option>
                                        <option value="粮油调味">粮油调味</option>
                                        <option value="冲调饮品">冲调饮品</option>
                                        <option value="乳制品">乳制品</option>
                                        <option value="生鲜">生鲜</option>
                                        <option value="酒水">酒水</option>
                                        <option value="食品综合">食品综合</option>
                                    </select>
                                </div>
                                <span class="col-md-7"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2" for="ad_proved_div" style="text-align: right;">资质上传</label>
                                <div class="col-md-9">
                                    <input type="hidden" name="ad_proved_img_path" id="ad_proved_img_path" value="" data-rule="required">
                                    <div class="profile-avatar-container">
                                        <img class="profile-user-img img-responsive plupload" src="" alt="">
                                        <div class="profile-avatar-text">点击上传</div>
                                        <button id="ad_proved_div" class="plupload" data-mimetype="png,jpg,jpeg,gif" data-input-id="c-avatar"><i class="fa fa-upload"></i> {:__('Upload')}</button>
                                    </div>
                                </div>
                                <span class="col-md-1"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2" for="company_name" style="text-align: right;">企业名称</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="company_name" name="company_name" data-rule="required">
                                </div>
                                <span class="col-md-6"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2" for="email" style="text-align: right;">邮 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 箱</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="email" name="email" data-rule="required email">
                                </div>
                                <span class="col-md-6"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2" for="contact_user" style="text-align: right;">联系人名称</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="contact_user" name="contact_user" data-rule="required">
                                </div>
                                <span class="col-md-6"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2" for="phone_number" style="text-align: right;">手机号码</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="phone_number" name="phone_number" data-rule="required mobile">
                                </div>
                                <span class="col-md-6"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2" for="contact_address" style="text-align: right;">联系地址</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="contact_address" name="contact_address" data-rule="required">
                                </div>
                                <span class="col-md-6"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2" for="function_feature" style="text-align: right;" >功能需求</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="function_feature" name="function_feature" data-rule="required">
                                </div>
                                <span class="col-md-6"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <button id="ad_submit" type="submit" class="col-md-2 btn btn-md btn-info">{:__('Submit')}</button>
                                <div class="col-md-9">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">
    $(function() {
        var start = moment();
        var end = moment().add(30, 'days');
        function cb(start, end) {
            $('#reportrange span').html(start.format('YYYY-MM-DD') + ' &nbsp; &nbsp;至 &nbsp; &nbsp;' + end.format('YYYY-MM-DD'));
            $('#ad_date_range').val(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
        }
        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
        }, cb);
        cb(start, end);
    });

</script>