<style>
    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-2">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-10" style="margin-top: 15px">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h2 class="page-header">
                        {:__('More Features')}
                    </h2>
                    <h1>敬请期待</h1>
                </div>
            </div>
        </div>
    </div>
</div>